@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{background-color: white;
  font-family: "Open Sans", sans-serif;
display:flex;
  align-items:center;
  flex-direction:column;
  height:100vh;
  margin:0;
}
.results {position: absolute;
  top:200px;
  display: flex;
   align-items:center;
  justify-content:center;
}

.result {
  background-color:gray;
  display:flex;
    align-items:center;
    justify-content:center;
  margin:10px;
  height:400px;
  width:300px;
}
.result img{
  object-fit:cover;
  height:100%;
  width:100%;
}
.buttons{
  display:flex;
  align-items:center;
  justify-content:center;
}
button { position: relative;
  top:600px;
  background-color: darksalmon;
  border:0;
  border-radius:4px;
  color:#fff;
  font-size:18px;
  padding:10px;
  margin:10px;
  width:300px;
}
button:active {
  transform:scale(0.98);
}
button:focus{ outline:none}

#list { 
  column-count: 2;
  column-fill: auto;
}
